.user-home-container {
    height: 100vh;
    padding: 2% 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-home-top {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.work-category-section {
    flex: 1;
    overflow-y: auto;
    padding: 2%;
    background-color: #f8f9fa; /* Color de fondo claro */
    border: 1px solid #dee2e6; /* Borde gris claro */
    border-radius: 0.25rem; /* Bordes redondeados */
}

.title-section {
    padding: 0.5% 0%;
    padding-left: 1%;
    width: 20%;
    border-radius: 0px 15px 0px 0px;
    background-color: red;
}

.list-works {
    background-color: blue;
}