.registerContainer
{
    height: 100vh;
    padding: 0% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerCard
{
    background-color: rgb(160, 160, 160);
    border-radius: 15px;
    height: 80%;
    width: 50%;
    padding: 2% 5%;
    display: grid;
    grid-template-rows: 1.5fr 2fr 1.5fr;
    gap: 10px;
}

.registerTopContainer
{
    margin: auto;
    text-align: center;   
}

.registerBotContainer
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerBotContainer > label
{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.registerBotContainer input
{
    text-align: center;
    border-radius: 15px;
    padding: 1%;
}

.registerBtnContinaer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}