.headerContainer {
    background-color: gray;
    padding: 1.5% 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

.headerContent {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer_open {
    background-color: gray;
    padding: 1.5% 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.589);
}

.logoContainer img {
    height: 100px;
}

.userBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userPhoto {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.containerUserName {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.userName {
    font-size: 2rem;
}

.userDes {
    font-size: 1.5rem;
}