.footerContainer {
    background-color: #56AB56;
    color: white;
    padding: 10px; /* Reducir padding */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que el footer esté por encima de otros elementos */
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}