.NavBarContainer {
    background-color: rgba(128, 128, 128, 0.822);
    border-radius: 0px 0px 15px 15px;
    padding: 1.5% 1%;
    width: 80%;
    margin: auto;
}

.navMenu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

