.homeContainer
{
    height: 100%;
    padding: 0% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.homeTopContainer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.homeTitle
{
    text-align: center;
    font-size: 3rem;
}

.homeText {
    font-size: 1.5rem;
    padding: 0 10%;
    text-align: center;
  }
  
  
  .homeBotContainer {
    margin-top: 20px;
  }

  .login-button {
    background-color: #FFD700 !important; /* Color de fondo personalizado para el botón de Ingresar */
    color: #fff !important; /* Color del texto */
    border: none !important; /* Sin borde */
    padding: 10px 20px; /* Relleno */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease; /* Transición suave */
  }

  .login-button:hover {
    background-color: #e6c200 !important; /* Color de fondo al pasar el ratón */
  }

  .register-button {
    background-color: #fff !important; /* Color de fondo personalizado para el botón de Registrarse */
    color: #56AB56 !important; /* Color del texto */
    border: 2px solid #56AB56 !important; /* Borde */
    padding: 10px 20px; /* Relleno */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  }

  .register-button:hover {
    background-color: #56AB56 !important; /* Color de fondo al pasar el ratón */
    color: #fff !important; /* Color del texto al pasar el ratón */
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .logoContainer img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-item {
    transition: opacity 1s ease-in-out !important;
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out !important;
  }
  
  .carousel-item-next,
  .carousel-item-prev {
    opacity: 0;
  }
  
  .carousel-image {
    width: 100%;
    height: 400px; /* Altura fija */
    object-fit: cover; /* Mantiene la proporción y rellena el espacio */
    transition: transform 3s ease-in-out; /* Duración del efecto de zoom out */
    filter: brightness(0.7); /* Ajustar brillo para mejorar visibilidad del texto */
  }
  
  .carousel-item.active .carousel-image {
    transform: scale(1); /* Estado inicial */
  }
  
  .carousel-item-next .carousel-image,
  .carousel-item-prev .carousel-image {
    transform: scale(0.9); /* Efecto de zoom out */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .d-flex.flex-column.justify-content-center.align-items-center.flex-grow-1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text-dark {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
  }

  .text-custom {
    color: #56AB56 !important; /* Color del texto personalizado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra con color oscuro para mejor contraste */
    font-size: 2rem; /* Tamaño de fuente del caption */
  }

  .carousel-caption p {
    font-size: 1.5rem; /* Tamaño de fuente del subcaption */
  }