.user-profile-container {
    margin-top: 100px; /* Agregar margen superior */
    margin-bottom: 60px; /* Agregar margen inferior */
}

.user-profile-card
{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    row-gap: 100px;

}

.user-profile-user-data {
    text-align: center;
}

.user-photo-card {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.user-profile-user-desc {
    margin-top: 20px;
}

.buttContainerProfile
{
    grid-column: 1;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}